.outerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .aboutbg {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  
  .aboutbg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .aboutdiscription {
    max-width: 50%;
    position: absolute;
    top: 40%;
    color: rgb(247, 247, 247);
  }
  
  .aboutdiscription h1 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .discription{
    width: 80%;
    position: absolute;
    top: 125%;
    display: flex;
  }
  .aboutimg{
    width: 30%;
    margin-left: 10%;
  }
  .music{
    width: 80%;
    display: flex;
    position: absolute;
    top: 170%;
  }
  .musicimg{
    width: 30%;
    margin-right: 10%;
  }
  .market{
    width: 80%;
    position: absolute;
    top: 215%;
    display: flex;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .aboutdiscription {
      margin-top: 0;
    }
  }
  