/* Example.css */

/* Make the carousel full screen */
.main {
    width: 100%;
    height: 80vh;
  }
  
  /* Style for the carousel items */
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
  }
  
  /* Make the images fill the entire carousel item */
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Style for the carousel indicators */
  .Indicators {
    bottom: 20px;
  }
  
  /* Optional: Adjust the styling for carousel controls if needed
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  } */
  