.homeouterdiv {
  /* border: 1px solid black; */
  width: 100vw;
  height: 70vh; 
}

.carouselbody {
  /* border: 1px solid black; */
  height: 90vh; 
  max-height: 90vh; 
  overflow: hidden; 
}

.homeheading {
  /* border: 1px solid black; */
  width: 50%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 75%;
}

.homeheading h1 {
  color: bisque;
  font-size: 500%;
  font-family: fantasy;
}

.homeheading pre {
  color: yellow;
  font-size: 130%;
  font-weight: bolder;
}

.homeheading button {
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10%;
  height: 10px;
  width: 150px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homefooter{
  /* border:1px solid red; */
  width:100vw;
  height:50vh;
  background-color: black;
  color:white;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.homefooter1{
  /* border:1px solid red; */
  width:25%;
  height:80%;
  display:flex;
  flex-direction: column;

}
#footlink{
  text-decoration: none;
  color:white;
}