.bodydiv{
    padding:0px;
    margin:0px;
    }
    #bgimg{
        width: 100%;
    }
    .formdiv{   
       z-index: 1;
       position:absolute;
       object-position: center;
       top:20%; 
       left:60%;
       color: black;
    }
    .loginbox{
       /* background-color: rgb(206, 203, 203,0.5); */
       backdrop-filter: blur(2px);
       width:30vw;
       height:80vh;
       display:flex;
       flex-direction: column;
       justify-content: space-between;
       margin-inline: 1.5rem;
       padding:1.5rem 2.5rem;
       border-radius: 1rem;
    }
    .loginbox h1{
    font-size: 45px;
    
    }
    .loginbox label{
       width:20%;
       height:5%;
       font-size: larger;
    }
    .inputs{
       /* border:1px solid yellow; */
       background-color: hsla(0,0%,10%,0.5);
       display:flex;
       justify-content: flex-end;
       width:100%;
       height:11%;
       text-decoration: none;
    }
    /* .inputs image{
       display:flex;
       justify-content: flex-start;
       background-color: hsla(0,0%,10%,0.5);
       width:11%;
       height:90%;
       z-index: 2;
    
    } */
    .inputs input{
       background-color: hsla(0,0%,10%,0.5);
       color:white;
       width:100%;
       height:92%;
       font-size: 100%;
       text-decoration: none;
    }
    #buttons{
       border:1px solid white;
       background-color: hsla(0,0%,10%,0.8);
       width:50%;
       height:12%;
       border-radius: 20px;
       color:white;
       font-size: x-large;
       position: relative;
       left: 25%;
    }
    .checkbox{
      position: relative;
      right: 37%;
    }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .bodydiv{
       padding:0px;
       margin:0px;
       color: white;
       }
       video{
          width:100vw;
          height:89vh;
          object-fit: cover;
          z-index: -1;
       }
       .formdiv{
          
          z-index: 1;
          position:absolute;
          object-position: center;
          top:20%; 
          left:40%;
       }
       .loginbox{
          background-color: hsla(0,0%,10%,0.8);
          border:3px solid white;
          width:28vw;
          height:60vh;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
         
       margin-inline: 1.5rem;
          padding:1.5rem 2.5rem;
          border-radius: 1rem;
       }
       .loginbox h1{
       /* border:1px solid blue; */
       font-size: 40px;
       
       }
       .loginbox label{
          /* border:1px solid red; */
          width:20%;
          height:5%;
          font-size: larger;
       }
       .inputs{
          /* border:1px solid yellow; */
          background-color: hsla(0,0%,10%,0.5);
          display:flex;
          justify-content: flex-end;
          width:100%;
          height:11%;
          text-decoration: none;
       }
       .inputs image{
          border:1px solid red;
          display:flex;
          justify-content: flex-start;
          background-color: hsla(0,0%,10%,0.5);
          width:11%;
          height:90%;
          z-index: 2;
       
       }
       .inputs input{
          background-color: hsla(0,0%,10%,0.5);
          color:white;
          width:87%;
          height:92%;
          font-size: 100%;
          border-radius: 5px;
          text-decoration: none;
       }
       #buttons{
          border:1px solid white;
          background-color: hsla(0,0%,10%,0.8);
          width:80%;
          height:11%;
          color:white;
          font-size: x-large;
       border-radius: 10%;
       }
  }
  
  @media screen and (max-width: 480px) {
    .bodydiv{
       padding:0px;
       margin:0px;
       color: white;
       }
       .formdiv{
          z-index: 1;
          position:absolute;
          object-position: center;
          top:20%; 
          left:40%;
       }
       .loginbox{
          background-color: hsla(0,0%,10%,0.8);
          border:3px solid white;
          width:28vw;
          height:60vh;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
         
       margin-inline: 1.5rem;
          padding:1.5rem 2.5rem;
          border-radius: 1rem;
       }
       .loginbox h1{
       /* border:1px solid blue; */
       font-size: 40px;
       
       }
       .loginbox label{
          /* border:1px solid red; */
          width:20%;
          height:5%;
          font-size: larger;
       }
       .inputs{
          /* border:1px solid yellow; */
          background-color: hsla(0,0%,10%,0.5);
          display:flex;
          justify-content: flex-end;
          width:100%;
          height:11%;
          text-decoration: none;
       }
       .inputs image{
          border:1px solid red;
          display:flex;
          justify-content: flex-start;
          background-color: hsla(0,0%,10%,0.5);
          width:11%;
          height:90%;
          z-index: 2;
       
       }
       .inputs input{
          background-color: hsla(0,0%,10%,0.5);
          color:white;
          width:87%;
          height:92%;
          font-size: 100%;
          border-radius: 5px;
          text-decoration: none;
       }
       #buttons{
          border:1px solid white;
          background-color: hsla(0,0%,10%,0.8);
          width:80%;
          height:11%;
          color:white;
          font-size: x-large;
       border-radius: 10%;
      }
  }
 