.outerdiv {
    position: fixed; 
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    z-index: 1;
} 

.inner2 {
    position: relative; 
    width: 30%; 
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner1 {
    display:flex;
    max-width: 16%;
    padding: 10px;
}
.inner1 img{
    height:100%;
    width:100%;
}
.inner2 h5{
  color:rgb(245, 243, 243);
} 
.inner2 h5:hover{
    color:red;
    font-size: x-large;
    box-shadow: 15% 5% 5% 5%;
}
#cont{
    text-decoration: none;
}
#abt{
    text-decoration: none;
}
#log{
    text-decoration: none;
}
#reg{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .outerdiv {
        position: relative; 
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        background-color: hsla(0, 0%, 10%, 0.0);
        overflow: hidden; 
    }

    .inner2 {
        position: relative; 
        width: 100%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20%;
    }
    
    .inner1 {
        background-color: hsla(0, 0%, 10%, 0.0);
        z-index: 1; 
        display:flex;
        justify-content: space-around;
    }
     .inner1 h1{
        color:rgb(0, 0, 0);
        
    }
    .inner1 img{
        height:100%;
        width:30%;
    }
    
    .inner2 {
        background-color: hsla(0, 0%, 10%, 0.0);
        z-index: 1; 
    }
    
    .inner2 h5{
        color:rgb(0, 0, 0);
    } 
    .inner2 h5:hover{
        color:red;
        font-size: x-large;
        box-shadow: 15% 5% 5% 5%;
    }
}
@media screen and (max-width: 480px) {
    .outerdiv {
        position: relative; 
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        background-color: hsla(0, 0%, 10%, 0.0);
        overflow: hidden; 
    }
    
    .outerdiv video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute; 
        top: 0;
        left: 0;
    }
    
    .inner1,
    .inner2 {
        position: relative; 
        width: 100%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20%;
    }
    
    .inner1 {
        background-color: hsla(0, 0%, 10%, 0.0);
        z-index: 1; 
        display:flex;
        justify-content: space-around;
    }
     .inner1 h1{
        color:white;
        
    }
    .inner1 img{
        height:100%;
        width:30%;
    }
    
    .inner2 {
        background-color: hsla(0, 0%, 10%, 0.0);
        z-index: 1; 
    }
    
    .inner2 h5{
        color:rgb(0, 0, 0);
    } 
    .inner2 h5:hover{
        color:red;
        font-size: x-large;
        box-shadow: 15% 5% 5% 5%;
    }
}
