#productouterdiv {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(to right, rgb(155, 43, 43),black);
    
}
.productmain{
    background-image: linear-gradient(to right, rgb(155, 43, 43),black);
}

.productcards {
    background-image: linear-gradient(red,black);
    margin: 20px;
}

.productcards img {
    width: 288px;
    height: 200px;
}

.productcards:hover {
    border: 2px solid ;
    box-sizing: content-box;
    
}