.bodydiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.regouterdiv {
  background-image: linear-gradient(to right, rgb(155, 43, 43),black);
  padding: 20px;
  color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  position: absolute;

}

.regformhead {
  text-align: center;
  margin-bottom: 20px;
}

.regformdiv {
  max-width: 400px;
  margin: 0 auto;
}

.submit {
  width: 100%;
}
#reg{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.input{
  width: 100%;
}


/* Responsive Styling */
@media (max-width: 768px) {
  .bodydiv {
    padding: 20px;
  }

  .regouterdiv {
    padding: 15px;
  }
  #reg{
    max-width: 80%;
  }
}
